.container{
    /* border: 1px solid #000; */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
    /* background-color: rgb(235, 235, 161); */
}
button{
    padding: 10px 20px;
    border-radius: 5px;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 30px;
}
h2{
color: cyan;
}